/**
 * 李鸿章<lihz@hugeinfo.com.cn>
 * 2019年2月3日 15:53
 *
 */

@import '../../conf/vars';

.login-form {
  min-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
