#root {
  height: 100vh;
}
.ant-layout {
  height: 100%;
}

body {
  user-select: none;
}

.page-content {
  background: white;
  position: relative;
  padding: 8px;
}

.page-wrapper {
  padding-top: 8px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* .page-content::-webkit-scrollbar,
.ant-dropdown-menu::-webkit-scrollbar {
display: none;
} */

.ant-select-selection--multiple {
  height: 32px;
  max-height: 32px;
  overflow: hidden;
}
